<%= form_for [@commentable, @comment] do |f| %>
  <div class="form-group">
    <%= f.text_area :content, placeholder: "Enter your comment", class: "form-control input-lg" %>
  </div>
  <%= f.submit "Comment", class: "btn btn-success btn-lg btn-block"  %>
<% end %>
