<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h1><%= form_title_answer  %></h1>
      <%= form_for [@question, @answer] do |f| %>
        <div class="form-group">
          <%= f.text_field :content, class: "form-control input-lg", placeholder: "Your Answer" %>
        </div>
        <div>
          <%= f.submit "Create Answer", class: "btn btn-success btn-lg btn-block" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
