.subsec-title{
  color:#303030;
  text-align:center;
}

.separator{
width: 100%;
height: 47px;
border-bottom: 1px dotted gray;
position: absolute;
}

.answer-content{
  color:#303030;
  font-size:23px;
  text-align:center;
}